.item{
    list-style: none;
    margin-bottom: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
}

.item-imagem{
    margin-right: 0.5rem;
}

.item-link{
    color: #D9D9D9;
    font-family: 'GandhiSansRegular';
    font-size: 1rem;
    text-decoration: none;
    outline: none;
}

.item-link:active, .item-link:focus{
    color: #7B78E5;
}